<% if(successmsg&&successmsg.length) {%>
<div style="text-align: center;" class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
    <%= successmsg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>

  <% if(errormsg&&errormsg.length) { %>
    <div style="text-align: center;" class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%= errormsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>