<footer>
    <div class="info_box">
        <div class="info_social_icons">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
        </div>
        <div class="info_brand">Wanderlust Private Ltd.</div>
        <div class="info_condition">
            <a href="#">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>