<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="mt-5 row col-6 offset-3">
    <div style="text-align: center;" class="alert alert-danger" role="alert">
        <p><%= message %></p>
    </div>
</div>
</body>
